body.dark-mode {
    background-color: #222;
    color: #fff;
  }
  
  .container {
    margin-top: 50px;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn-primary:active {
    background-color: #004280;
    border-color: #004280;
  }